[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
beautifulsoup4 = "*"
requests = "*"
fake-useragent = "*"
pyzbar = "*"
isbntools = "*"
opencv-python-headless = "*"
uwsgi = "*"

[dev-packages]

[requires]
python_version = "3.8"
